.flashcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 75%;
  border: 2px solid #ccc;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1.5rem;
  margin: 1em auto;
  position: relative;
  app-flashcard, app-navigation {
    width: 100%;
  }

}

h1 {
  width: 90%;
  padding: 0.5em .5rem;
  margin: .5em auto 0;
}
